body {
    background-image: url("/Users/julienguyen/Homework-13-Repo/Images/NoodleTexture.jpg");
    background-color: white;
}

h1 {
    color: black;
    margin-left: 20px;
    font-family: 'Permanent Marker', cursive;
    font-size: 80px;
}

h2 {
    color: black;
    margin-left: 20px;
    font-family: 'Julius Sans One', sans-serif;
    font-size: 30px;
}

h3 {
    color: orange;
    margin-left: 20px;
    font-family: Century; 
    font-size: 20px;
    font-weight: bold;
}

aside {
    width: 40%;
    padding-left: .5rem;
    margin-left: .5rem;
    float: right;
    box-shadow: inset 5px 0 5px -5px #29627e;
    font-style: italic;
    color: #29627e;
}

aside > p {
    margin: .5rem;
}

.jumbotron {
    position: relative;
    background: white;
    width: 1000px;
    height: 100%;
    background-size: cover;
 
}
